.surf {
  height: 500px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/test.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}